<!DOCTYPE html>
<html>
<head>
    
    <title>Forgot Password</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" href="android-chrome-512x512.png" type="item/gif">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgb(0,0,0,0,);
       body{
    background-color: black;
    }
    img{
      width: 210px;
    }
    h1{
      color: white;
  text-shadow: 2px 2px 4px rgb(46, 117, 17);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 65px;
  }
    .wrapper{
      background-image: url("https://videohive.img.customer.envatousercontent.com/files/df224b14-48d1-4ba0-be9c-c576a2e591bd/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=b97f0ae54b40356fb9328d922bdde39b");
  display: flex;
  width: 100%;
  height: 87vh;
  justify-content: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
    }
    @keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}
    .container{
   padding: 100px;
  }
    #box{
      width: 300px;
      -webkit-box-shadow: 30px 30px 29px -4px rgba(48,43,48);
-moz-box-shadow: 30px 30px 29px -4px rgba(48,43,48);
      box-shadow: 30px 30px 29px -4px rgb(48, 43, 48);
    }
    label{
      font-size: medium;
      color: ghostwhite;
      font-weight: bolder;
    }
    .submit{
      padding-left: 100px;
    }
  </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" style="top:10px; font-size: medium;">Go to Home Page</a></li>
          </ul>
        </div>
      </nav>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4  col-xs-12">
                <div class="col-md-4 col-sm-4  col-xs-12">
                    <form action="/forgot?_method=delete" method="put" id="box">
                    <h1>Forgot Password</h1>
                    <br><br>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" placeholder="Enter Email" name="email" id="email" required>
                    </div>
                    <div class="submit">
                        <button name="Submit" type="submit" class="btn btn-success">Submit</button></div>
                    </form>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4  col-xs-12"></div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>