<!DOCTYPE html> 
<html> 

<head> 
	<title>TEXT BOX</title> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        h1{
         margin-left:35%;
       
    }
    .card{
        width:40rem;
        height:30rem;
        background-color:lightblue;
        margin-left:20%;
        box-shadow:5px 5px 8px 8px;
    }
        body{
        background-color:lavender;
    }
    
    </style>
    </head>
<body> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/textbox">TEXTBOX<span class="sr-only">(current)</span></a>
         <a class="nav-item nav-link active" href="/fileupload">UPLOAD FILE<span class="sr-only">(current)</span></a>
           <a class="nav-item nav-link active" href="/logout">LOGOUT<span class="sr-only">(current)</span></a>
     
     
     
    </div>
  </div>
</nav>
    <h1><i>Word Counter</i></h1>
    
     <div class="container">
        <div class="row">
            <div class="col"></div>
           <div class="offset 4 col-sm-12">
<div class="card">
    <div class="card-body">
        <h5><i>This page enables you to count number of words in the entered test</i></h5>
   
        <p><i><b>If you want to enter text,then enter in the space provided</b></i>
     <form action="/textupload"
	 method="POST">
         <label for="textbox"><i><b>Add your text in the space provided</b></i></label><br>
        <textarea id="textbox" name="textinput" rows="10" cols="50"><%=msg%>
         </textarea><br>
             
         <input type="submit"class="btn btn-success" value="Click for word count"><br>
        <h4><%=message%></h4>
        </form>
      </div>
               </div>
            </div>
            <div class="col"></div>
        </div>
</div>
</body> 

</html> 
